body {
    margin: 5px;
}

h1 {
    margin-bottom: 20px;
}

#vastaus {
    margin-top: 15px;
}

.container {
    display: inline-block;
    padding-top: 15px;
    max-width: 360px;
    background-color: #1da5ad;
}

.d-block {
    display: block;
    padding-top: 30px;
    max-width: 360px;
}