@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    margin: 5px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#vastaus {
    margin-top: 15px;
    background-color: #1da5ad;
    max-width: 360px;
    color: #ffffff;
    border-radius: 5px;
}


.container {
    display: inline-block;
    border-radius: 5px;
    padding-top: 15px;
    max-width: 360px;
    background-color: #1da5ad;

}

.d-block {
    display: block;
    padding-top: 30px;
    max-width: 360px;
}

h1 {
    color: #ffffff;
 
}

.radio {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1da5ad;
    border-radius: 5px;
    max-width: 360px;
    color: #ffffff;
}

